# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# .env file
.env

# any folder named models
models/

#any folder named faiss
faiss/

#any .pkl file or .faiss file
*.pkl
*.faiss
*.log

scratch/
Frameworks/